@media screen and (max-width: 768px)
  .question__btn
    display: block
  .faq
    &__row
      flex-direction: column
      align-items: center
    &__list
      margin: 0 0 10px 0
      &:first-child
        margin: 0 0 10px 0
    &__list-not_show
      display: none
      &._open
        display: block

@media screen and (max-width: 676px)
  .verification
    padding: 0 0 40px 0
    &__need
      &-list
        &:first-of-type
          margin: 0 0 10px 0
      &-title
        margin: 0 0 10px 0
      &-item
        margin: 0 20px 20px 0
        &:not(:nth-child(3n))
          margin: 0 20px 20px 0


@media screen and (max-width: 475px)

  .verification__video .video__start .video__button
    width: 60px
    height: 60px
    svg
      width: 24px
      height: 18px
  .verification
    padding: 0 0 50px 0
    &__need
      &-list
        display: grid
        grid-template-columns: calc(50% - 10px) calc(50% - 10px)
        gap: 20px
        &:first-of-type
          margin: 0 0 30px 0
      &-item
        max-width: 100%
        margin: 0
        &:not(:nth-child(3n))
          margin: 0
        &_image
          margin: 0 0 10px 0

//@media screen and (max-width: 375px)
//  .verification
//    &__need
//      &-item
//        max-width: 125px